@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #F2F0F1;
  --card-background: #F0EEED;
  --utils-background: #F0F0F0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}